.site-footer {
	width: 100%;
	display: block;
	background-color: var(--primary-color);
	padding: 1rem;
	background-repeat: no-repeat;
	background-size: cover;
	.widget-area {
		width: 100%;
		margin-bottom: 2rem;
		@include respond-to("tablet") {
			@include column(4);
		}
	}
}
