.searchform {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 320px;
    border: 1px solid var(--primary-color);
    padding: 5px;
    background-color: var(--bg-color);
    input[type="text"] {
        border: none;
        padding: 1rem;
        flex-grow: 1;
        outline: none;
        font-size: var(--base-size);
    }
    button {
        border: none;
        background-color: var(--primary-color); /* WordPress blue */
        color: #fff;
        padding: 1rem 1.5rem;
        font-size: var(--base-size);
        cursor: pointer;
        transition: background-color 0.3s;
    }
    &:hover {
        border-color: var(--secondary-color);
        button {
            background-color: var(--secondary-color);
        }
    }
}
