$primary: #472f91;
$secondary: #2c8196;
$orangyYellow: #d6e5ea;
$white: #fff;
$black: #000;
$baseColor: #555;
$bgColor: #f7f4ec;
$zeroSize: 1.1rem;
$smallFont: 1.2rem;
$contentFontSize: 1.3rem;
$baseSize: 1.6rem;

$baseFont: 18;
$baseLineHeight: 1.5;
$baseSpacing: ($baseFont * $baseLineHeight) * 1px;
$poppins: 'Poppins', sans-serif;
$panton: 'Panton', sans-serif;
