.widget {
    display: block;
    border: 1px solid $orangyYellow;
    padding: 1rem;
    margin-bottom: 2rem;
    .widgettitle {
        font-size: var(--base-size);
        color: var(--primary-color);
        font-family: var(--secondary-font);
        padding-bottom: 0.5rem;
        border-bottom: 2px solid var(--secondary-color);
        margin-bottom: 1rem;
    }

    .wp-block-page-list,
    .wp-block-categories,
    .wp-block-archives,
    .menu {
        list-style: none;
        padding: 0;
        margin: 0;
        font-family: var(--secondary-font);
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            padding: 5px 0;
            font-size: var(--base-size);
            line-height: $baseLineHeight;
            position: relative;
            transition: color 0.3s ease;

            &:not(:last-child) {
                border-bottom: 1px solid $orangyYellow;
            }

            a {
                text-decoration: none;
                color: $baseColor;
                font-weight: 600;
                transition:
                    color 0.3s ease,
                    transform 0.3s ease;
                display: inline-flex;
                align-items: center;
                font-family: var(--primary-font);

                // Arrow icon by default
                &::before {
                    content: "➔";
                    font-size: $zeroSize;
                    color: var(--primary-color);
                    margin-right: 8px;
                    transition:
                        color 0.3s ease,
                        transform 0.3s ease;
                }

                &:hover {
                    color: var(--secondary-color);

                    &::before {
                        color: var(--secondary-color);
                        transform: translateX(5px); // subtle movement on hover
                    }
                }
            }
        }
    }

    //   Recent posts
    .wp-block-latest-posts {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        li {
            margin-bottom: 1rem;
        }

        .wp-block-latest-posts__featured-image {
            width: 100%;
            img {
                display: block;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }

        a {
            display: block;
            padding: 0.5rem 0px;
            &::before {
                background: unset;
                content: unset;
            }
        }
        .wp-block-latest-posts__post-author,
        .wp-block-latest-posts__post-date {
            display: inline-flex;
            justify-content: space-between;
            min-width: 50%;
        }
    }
    .wp-block-calendar {
        caption {
            font-size: var(--base-size);
            color: var(--primary-color);
            font-family: var(--secondary-font);
            padding-bottom: 0.5rem;
            border-bottom: 2px solid var(--secondary-color);
            margin-bottom: 1rem;
        }
    }
}

.site-footer {
    .widget-area {
        .widget_block {
            * {
                color: $white;
                border-color: $white;
            }
        }
    }
}
