@charset 'UTF-8';
@use "sass:map";
@import "base/variables";
@import "base/config";
@import "base/fonts";
@import "base/base";
@import "base/images";
@import "base/forms";
@import "base/lists";
@import "base/typography";
@import "base/wp-default";

@import "components/header";
@import "components/footer";

@import "components/page";
@import "components/grid-4-block";
@import "components/grid-3-block";
@import "base/widgets";
@import "article/typo";




.article-thumbnail {
    margin-bottom: 2rem;
}

.article-nav {
    padding: 1rem 0;
    background-color: $bgColor;

    .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;

        .screen-reader-text {
            display: none;
        }

        .nav-links {
            display: flex;
            width: 100%;

            .nav-previous,
            .nav-next {
                width: 50%;
                text-align: center;

                a {
                    display: inline-block;
                    color: $primary;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover,
                    &:focus {
                        color: $secondary;
                        text-decoration: underline;
                    }

                    .meta-nav {
                        display: block;
                        font-size: 1rem;
                        color: $baseColor;
                        margin-right: 0.25rem;
                    }

                    .post-title {
                        font-size: $contentFontSize;
                    }
                }
            }

            .nav-previous {
                text-align: left;
            }

            .nav-next {
                text-align: right;
            }
        }
    }
}

/* Container styling for tags */
.tags_post {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Space between tags */
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

/* Styling for each tag link */
.tags_post li a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: $bgColor;
    color: $baseColor;
    font-size: 14px;
    text-decoration: none;
    transition: all 0.3s;
}

/* Hover effect for tag links */
.tags_post li a:hover {
    background-color: $primary; /* WordPress blue */
    color: #fff;
}

/* Optional styling for active tags */
.tags_post li a[rel="tag"]:active {
    background-color: #005177;
    color: #fff;
}
