/*!*****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./resources/styles/style-editor.scss ***!
  \*****************************************************************************************************************************/
@charset "UTF-8";
.poppins-regular {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-style: normal;
}
.poppins-medium {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-style: normal;
}
.poppins-semibold {
  font-family: var(--secondary-font);
  font-weight: 600;
  font-style: normal;
}
.poppins-bold {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-style: normal;
}
.poppins-extrabold {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-style: normal;
}

.editor-styles-wrapper {
  font-family: var(--secondary-font);
  color: #555;
  font-size: var(--base-size);
  background-color: var(--bg-color);
  line-height: 1.5;
  padding: 27px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  color: var(--primary-color);
  margin-top: 27px;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: var(--content-size);
  margin-bottom: 27px;
}

a {
  color: var(--secondary-color);
  text-decoration: underline;
}
a:hover, a:focus {
  color: var(--primary-color);
}

ul,
ol {
  padding-left: 1.5em;
  font-size: var(--content-size);
}
ul li,
ol li {
  margin-bottom: 0.5em;
}

button,
.wp-block-button__link {
  font-family: var(--secondary-font);
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.75em 1.5em;
  border-radius: 4px;
  text-decoration: none;
}
button:hover, button:focus,
.wp-block-button__link:hover,
.wp-block-button__link:focus {
  background-color: var(--secondary-color);
  color: #000;
}

blockquote {
  border-left: 4px solid #d6e5ea;
  padding-left: 27px;
  color: #555;
  font-style: italic;
}

code,
pre {
  font-family: monospace;
  background-color: #d6e5ea;
  padding: 0.2em 0.4em;
  border-radius: 3px;
  font-size: 1.2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
  border: 1px solid #555;
  padding: 0.75em;
}
table th {
  background-color: var(--primary-color);
  color: #fff;
  text-align: left;
}

img {
  max-width: 100%;
  height: auto;
}

.widget {
  display: block;
  border: 1px solid #d6e5ea;
  padding: 1rem;
  margin-bottom: 2rem;
}
.widget .widgettitle {
  font-size: var(--base-size);
  color: var(--primary-color);
  font-family: var(--secondary-font);
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--secondary-color);
  margin-bottom: 1rem;
}
.widget .wp-block-page-list,
.widget .wp-block-categories,
.widget .menu {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: var(--secondary-font);
}
.widget .wp-block-page-list ul,
.widget .wp-block-categories ul,
.widget .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.widget .wp-block-page-list li,
.widget .wp-block-categories li,
.widget .menu li {
  padding: 5px 0;
  font-size: var(--base-size);
  line-height: 1.5;
  position: relative;
  transition: color 0.3s ease;
}
.widget .wp-block-page-list li:not(:last-child),
.widget .wp-block-categories li:not(:last-child),
.widget .menu li:not(:last-child) {
  border-bottom: 1px solid #d6e5ea;
}
.widget .wp-block-page-list li a,
.widget .wp-block-categories li a,
.widget .menu li a {
  text-decoration: none;
  color: #555;
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-flex;
  align-items: center;
  font-family: var(--primary-font);
}
.widget .wp-block-page-list li a::before,
.widget .wp-block-categories li a::before,
.widget .menu li a::before {
  content: "➔";
  font-size: 1.1rem;
  color: var(--primary-color);
  margin-right: 8px;
  transition: color 0.3s ease, transform 0.3s ease;
}
.widget .wp-block-page-list li a:hover,
.widget .wp-block-categories li a:hover,
.widget .menu li a:hover {
  color: var(--secondary-color);
}
.widget .wp-block-page-list li a:hover::before,
.widget .wp-block-categories li a:hover::before,
.widget .menu li a:hover::before {
  color: var(--secondary-color);
  transform: translateX(5px);
}
.widget .wp-block-latest-posts {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.widget .wp-block-latest-posts .wp-block-latest-posts__featured-image {
  width: 100%;
}
.widget .wp-block-latest-posts .wp-block-latest-posts__featured-image img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.widget .wp-block-latest-posts a::before {
  background: unset;
  content: unset;
}
.widget .wp-block-latest-posts .wp-block-latest-posts__post-author,
.widget .wp-block-latest-posts .wp-block-latest-posts__post-date {
  display: inline-flex;
  justify-content: space-between;
  min-width: 50%;
}
.widget .wp-block-calendar caption {
  font-size: var(--base-size);
  color: var(--primary-color);
  font-family: var(--secondary-font);
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--secondary-color);
  margin-bottom: 1rem;
}

/*# sourceMappingURL=editor.css.map*/